<p id="notice"><%= notice %></p>

<h1>Showing Book</h1>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
  
  <br/>
  
  <strong>Author:</strong>
  <%= @book.author %>
  
  <br/>
  
  <strong>Price:</strong>
  <%= @book.price %>
  
  <br/>
  
  <strong>Published Date:</strong>
  <%= @book.publish_date %>
  
</p>

<%= link_to 'Edit', edit_book_path(@book), notice: "Test flash" %> |
<%= link_to 'Back', books_path %>
